.dashch {
  display: inline-block;
}
.child {
  padding-left: 50px;
  display: inline-block;
  margin-top: 0%;
}
.dash {
  margin-top: -650px;
  margin-left: 225px;
}
.dashch1 {
  display: inline-block;
  margin-left: 600px;
  text-align: justify;
  margin-bottom: 20px;
}
